* {
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* sidebar-main-section */
.sidebar-main {
    height: 100vh;
    width: 72px;
    background-color: white;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 1.8px solid #EFEFEF;
}

/* main-navbar-section */
.navbar-main {
    height: 80px;
    width: 100%;
    margin-left: 72px;
    background-color: white;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    /* border: 1.8px solid #EFEFEF; */
}

/* sidebar-buttons */
.side-buttons {
    height: 45px;
    width: 45px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 15px;
}

.side-buttons:hover {
    background-color: #EFEFEF;
    cursor: pointer;
    transition: all 0.13s linear;
}

.pin-logo {
    margin-top: 20px;
}

.home-icon {
    margin-top: 40px;
}

.search-icon {
    margin-top: 40px;
}

.add-icon {
    margin-top: 40px;
}

.compass-icon {
    margin-top: 40px;
}

.setting-icon {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.nav-search-bar {
    height: 50px;
    width: 90%;
    border: none;
    border-radius: 8px;
    background-color: #EFEFEF;
    margin-left: 1.3%;
}

.profile-icon {
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 15px;
    background-color: white;
    margin-left: 1.4%;
    margin-right: 1.3%;
    
}

.profile-icon:hover {
    background-color: #EFEFEF;
    cursor: pointer;
    transition: all 0.13s linear;
}

/* nav-secondary */
.nav-secondary {
    height: 50px;
    background-color: white;
    margin-left: 72px;
    margin-top: 80px;
    display: flex;
    align-items: center;
}

/* main-body-section */
.body-main {
    height: 20000px;
    background-color: brown;
    margin-left: 72px;
}

.all {
    height: 20px;
    width: auto;
    margin-left: 1.6%;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    border: 1.3px solid transparent;
    border-bottom-color: black;
}

.boards {
    height: 20px;
    width: auto;
    margin-left: 1.6%;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}






/* MEDIA QUERIES */
@media (min-width : 1660px) {
    .nav-search-bar {
        width: 90%;
    }
}

@media (min-width : 1900px) {
    .nav-search-bar {
        width: 91%;
    }
    .profile-icon {
        margin-left: 0.8%;
    }
}

@media (min-width : 2000px) {
    .nav-search-bar {
        width: 91%;
    }
    .profile-icon {
        margin-left: 1.2%;
    }
}


@media (min-width : 2500px) {
    .nav-search-bar {
        width: 92%;
        margin-left: 0.8%;
    }
    .profile-icon {
        margin-left: 1.3%;
    }
}

@media (min-width : 2800px) {
    .nav-search-bar {
        width: 93%;
        margin-left: 0.7%;
    }
    .profile-icon {
        margin-left: 1%;
    }
}

@media (min-width : 3000px) {
    .nav-search-bar {
        width: 94%;
        margin-left: 0.6%;
    }
    .profile-icon {
        margin-left: 0.8%;
    }
}

@media (min-width : 3500px) {
    .nav-search-bar {
        width: 95%;
        margin-left: 0.5%;
    }
    .profile-icon {
        margin-left: 0.6%;
    }
}

@media (max-width : 1550px) {
    .nav-search-bar {
        width: 87%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 1.6%;
    }
}

@media (max-width : 1350px) {
    .nav-search-bar {
        width: 85%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 1.9%;
    }
}

@media (max-width : 1100px) {
    .nav-search-bar {
        width: 83%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 2%;
    }
}

@media (max-width : 900px) {
    .nav-search-bar {
        width: 81%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 2.1%;
    }
}

@media (max-width : 750px) {
    .nav-search-bar {
        width: 80%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 1.3%;
    }
}

@media (max-width : 650px) {
    .nav-search-bar {
        width: 75%;
        /* margin-left: 0.5%; */
    }
    .profile-icon {
        margin-left: 1.9%;
    }
}

@media (max-width : 550px) {
    .nav-search-bar {
        display: none;
    }
    .profile-icon {
        margin-left: 72%;
    }
}

@media (max-width : 450px) {
    .nav-search-bar {
        display: none;
    }
    .profile-icon {
        margin-left: 68%;
    }

    .all {
        margin-left: 2.9%;
    }

    .boards {
        margin-left: 2.9%;
    }
}

@media (max-width : 380px) {
    .nav-search-bar {
        display: none;
    }
    .profile-icon {
        margin-left: 63%;
    }
}

@media (max-width : 380px) {
    .nav-search-bar {
        display: none;
    }
    .profile-icon {
        margin-left: 58%;
    }
}